<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2><i class="bi bi-calendar-check"></i> Agenda</h2>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalRDV">
      <i class="bi bi-plus-lg"></i> Nouveau Rendez-vous
    </button>
  </div>

  <table class="table table-hover shadow-sm">
    <thead class="table-dark">
    <tr>
      <th>Date & Heure</th>
      <th>Client</th>
      <th>Service/produit</th>
      <th>Statut</th>
      <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
      @for (r of rendezVous(); track r.id) {
        <tr>
          <td>{{ r.dateHeure | date:'dd/MM/yyyy HH:mm' }}</td>
          <td><strong>{{ r.client?.nom }}</strong></td>
          <td><span class="test-muted">{{r.produit?.nom || 'Non spécifié'}}</span></td>
          <td>
            <span class="badge" [ngClass]="r.statut?.code === 'CONFIRME' ? 'bg-success' : 'bg-warning text-dark'">
              {{ r.statut?.libelle }}
            </span>
          </td>
          <td class="text-center">
            @if (r.statut?.code !== 'HONORE') {
              <button class="btn btn-sm btn-success me-2" (click)="validerRdv(r.id)">
                <i class="bi bi-check-circle"></i> Honoré
              </button>
            }
            <button class="btn btn-sm btn-outline-danger" (click)="annulerRdv(r.id)">
              <i class="bi bi-trash"></i>Annuler
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="modal fade" id="modalRDV" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Programmer un RDV</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="ajouterRdv()" #rdvForm="ngForm">

            <div class="mb-3">
              <label class="form-label">Client</label>
              <select class="form-select" [(ngModel)]="nouveauRdv.client" name="client" required>
                <option [ngValue]="null" disabled>Choisir un client...</option>
                @for (c of clients(); track c.id) {
                  <option [ngValue]="c">{{ c.nom }}</option>
                }
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">Service / Prestation</label>
              <select class="form-select" [(ngModel)]="nouveauRdv.produit" name="produit" required>
                <option [ngValue]="null" disabled>Choisir un service...</option>
                @for (p of produits(); track p.id) {
                  <option [ngValue]="p">{{ p.nom }} ({{ p.prixUnitaire }} €)</option>
                }
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">Date et Heure</label>
              <input type="datetime-local" class="form-control" [(ngModel)]="nouveauRdv.dateHeure" name="date" required>
            </div>

            <div class="mb-3">
              <label class="form-label">Statut initial</label>
              <select class="form-select" [(ngModel)]="nouveauRdv.statut" name="statut" required>
                @for (s of statut(); track s.id) {
                  <option [ngValue]="s">{{ s.libelle }}</option>
                }
              </select>
            </div>

            <div class="modal-footer px-0 pb-0">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-primary" [disabled]="!rdvForm.form.valid" data-bs-dismiss="modal">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
